
:root {
  --card-header-color: lightsteelblue;
}

/* fix for DTOutput and server=TRUE */
table {
  table-layout: fixed;
}

#page-header {
  background: lightsteelblue;
  border: 1px solid steelblue;
  border-radius: 5px;
  font-weight: bold;
}

.content-box {
  min-height: 300px;
  background: lightsteelblue;
}

.flex-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.test {
  border: 1px solid grey;
}



.tab-content {
  padding: 5px;
}


/*-- LEAFLET --*/

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-layers-list::before {
  content: 'Basemap:';
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: 'Layers:';
  font-weight: bold;
}
