
/*--- UW STYLE ---*/

@font-face {
  font-family: 'Red Hat Display';
  src: url('fonts/redhat-display-latin.v14.woff2') format('woff2');
}

@font-face {
  font-family: 'Red Hat Text';
  src: url('fonts/redhat-text-latin.v13.woff2') format('woff2');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: inherit;
}

html, body, header {
  font-family: 'Red Hat Display';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Red Hat Text';
}


/*--- HEADER ---*/

header {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: #c5050c;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.uw-title {
  display: inline-flex;
  gap: 5px;
}

.uw-title img {
  height: 40px;
}

.uw-title h1 {
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 3rem;
}

.help-btn {
  margin: 10px;
}

.help-btn a {
  color: #fff;
}


/*--- FOOTER ---*/

.footer {
  padding: 10px;
  text-align: right;
  color: #888;
  font-style: italic;
  font-size: 1rem;
}


/*--- LAYOUT ---*/

.container-fluid {
  padding: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

/* Column Styles */
.column {
  padding: 1rem;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: auto;
}

.column.map-container {
  padding: 0;
}

.column h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 1rem;
}

.sidebar-container {
  flex: 0 0 calc(20% - 0.67rem);
}

.map-container {
  flex: 0 0 calc(40% - 0.67rem);
  position: relative;
  min-height: min(800px, 100vh, 100vw);
}

.data-container {
  flex: 0 0 calc(40% - 0.67rem);
}

@media (max-width: 1200px) {
  .sidebar-container, .map-container {
    flex: 0 0 calc(50% - .5rem); /* Two columns side by side */
  }
  .data-container {
    flex: 0 0 100%; /* Third column on a new row */
  }
}

@media (max-width: 600px) {
  .column {
    flex: 0 0 100%; /* All columns stack vertically */
  }

  .uw-title h1 {
    font-size: 2rem;
  }
}

.inline-flex {
  display: inline-flex;
  gap: 20px;
  flex-wrap: wrap;
}

.flex-down {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-across {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-across > .btn {
  flex: 1;
}



/*--- STYLES ---*/

/* fix for DTOutput and server=TRUE */
table {
  table-layout: fixed;
}

/* prevent site table from overflowing */
#site_ui {
  max-width: 100%;
  overflow: auto;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: unset;
}

.site-tbl-container {
  max-width: 100%;
  max-height: 400px;
  overflow: auto;
}

.submit-btn {
  margin-top: 1rem;
}

.submit-btn > button {
  width: 100%;
  font-weight: bold;
}

.submit-btn > button:enabled {
  background-color: #218cb9;
  border: 1px solid #00a8dc;
  color: white;
}

#shiny-notification-panel {
  left: 0;
  right: unset;
}

.modal-title {
  font-weight: bold;
}

.modal-dialog {
  width: 800px;
  max-width: 90vw;
}

.shiny-output-error-validation {
  border: 1px solid rgb(39, 128, 227);
  border-radius: 5px;
  margin: 20px 0px;
  padding: 10px;
  background: rgb(236, 244, 252);
  color: #222;
}


/*--- LEAFLET ---*/

.search-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  padding: 0 1rem;
  gap: 1rem;
}

.search-overlay > div {
  flex: 1;
}

#coord_search input {
  flex: 1;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-control-layers-list::before {
  content: 'Basemap:';
  font-weight: bold;
}

.leaflet-control-layers-overlays::before {
  content: 'Layers:';
  font-weight: bold;
}


/*--- PLOTLY ---*/

.plotly-container {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  background: #fff;
}

.reset-plot {
  margin-bottom: 15px;
  width: 30px;
  align-self: center;
  font-size: 2rem;
}

.reset-plot a {
  color: #293e4f;
}
